stamp-h1
config.h
config.h.in~
config.log
config.status
compile
autom4te.cache/
bin/
lib/
**/Makefile
**/*.o
**/*.dylib
**/*.a
**/*.so
**/*.dll
**/siggen
**/tripwire
**/twadmin
**/twprint
**/twtest
**/siggen.exe
**/tripwire.exe
**/twadmin.exe
**/twprint.exe
**/twtest.exe
releases/
