stamp-h1
config.h
config.h.in~
config.log
config.status
autom4te.cache/
bin/
lib/
src/siggen/siggen
src/tripwire/tripwire
src/twadmin/twadmin
src/twprint/twprint
src/twtest/twtest
src/test-harness/twtest
**/Makefile
**/*.o
**/*.dylib
**/*.a
**/*.so
**/*.dll
**/*.exe
**/*~
**/*#
**/*.bak
**/.DS_Store
**/*.gcno
**/*.gcda
releases/
