#
# install.cfg
#
# default install.cfg for:
# Tripwire(R) 2.4 Open Source
#
# NOTE:  This is a Bourne shell script that stores installation
#        parameters for your installation.  The installer will
#        execute this file to generate your config file and also to
#        locate any special configuration needs for your install.
#        Protect this file, because it is possible for
#        malicious code to be inserted here
#
# This version of Tripwire has been modified to conform to the FHS
# standard for Unix-like operating systems.
#
# To change the install directory for any tripwire files, modify
# the paths below as necessary.
#
#=======================================================

# If CLOBBER is true, then existing files are overwritten.
# If CLOBBER is false, existing files are not overwritten.
CLOBBER=false

# Tripwire binaries are stored in TWBIN.
TWBIN="${prefix}/sbin"

# Tripwire policy files are stored in TWPOLICY.
TWPOLICY="${sysconfdir}"

# Tripwire manual pages are stored in TWMAN.
TWMAN="${prefix}/man"

# Tripwire database files are stored in TWDB.
TWDB="${prefix}/lib/tripwire"

# Tripwire documents directory
TWDOCS="${prefix}/doc/tripwire"

# The Tripwire site key files are stored in TWSITEKEYDIR.
TWSITEKEYDIR="${TWPOLICY}"

# The Tripwire local key files are stored in TWLOCALKEYDIR.
TWLOCALKEYDIR="${TWPOLICY}"

# Tripwire report files are stored in TWREPORT.
TWREPORT="${TWDB}/report"

# This sets the default text editor for Tripwire.
TWEDITOR="${path_to_vi}"

# TWLATEPROMTING controls the point when tripwire asks for a password.
TWLATEPROMPTING=false

# TWLOOSEDIRCHK selects whether the directory should be monitored for 
# properties that change when files in the directory are monitored.
TWLOOSEDIRCHK=false

# TWMAILNOVIOLATIONS determines whether Tripwire sends a no violation 
# report when integrity check is run with --email-report but no rule
# violations are found.  This lets the admin know that the integrity 
# was run, as opposed to having failed for some reason.
TWMAILNOVIOLATIONS=true

# TWEMAILREPORTLEVEL determines the verbosity of e-mail reports.
TWEMAILREPORTLEVEL=3

# TWREPORTLEVEL determines the verbosity of report printouts.
TWREPORTLEVEL=3

# TWSYSLOG determines whether Tripwire will log events to the system log
TWSYSLOG=false

#####################################
# Mail Options - Choose the appropriate
# method and comment the other section
#####################################

#####################################
# SENDMAIL options - DEFAULT
#
# Either SENDMAIL or SMTP can be used to send reports via TWMAILMETHOD.
# Specifies which sendmail program to use.
#####################################

TWMAILMETHOD=SENDMAIL

#####################################
# SMTP options
#
# TWSMTPHOST selects the SMTP host to be used to send reports.
# SMTPPORT selects the SMTP port for the SMTP mail program to use.
#####################################

#TWMAILMETHOD=SMTP
#TWSMTPHOST="mail.domain.com"
#TWSMTPPORT=25

# If sendmail wasn't found in the path, set then clear out 
# TWMAILPROGRAM so the install.sh does the right thing and
# tells the user about the missing configuration
#
path_to_sendmail=/usr/sbin/sendmail
if [ -z "$path_to_sendmail" ] ; then
   TWMAILPROGRAM=""
else
   TWMAILPROGRAM="${path_to_sendmail} -oi -t"
fi
